body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  background-color: rgb(20, 20, 53);
  color: antiquewhite;
}

#arena {
  /* padding-top: 1px; */
  width: 600px;
  height: 600px;
  background-color: lightslategrey;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px lightslategrey;
  /* display: grid; */
  /* grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%; */
}

#details {
  /* font: menu; */
  color: antiquewhite;
}
#subtext {
  font: menu;
}

.tile {
  width: 200px;
  background-color: darkgray;
  border: solid 2px green;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 15px solid pink;
  box-sizing: border-box;
  color: pink;
  position: absolute; /* Allows you to overlay the circles on the tile and keeps the tile number in place.*/
  /* z-index: 1; */
}
